* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222;
}

html {
    scroll-behavior: smooth;
}

.navDiv {
    width: 100%;
    height: 15vh;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.Section-1 {
    width: 100%;
    height: 100vh;
}

.MenuDiv {
    width: max-content;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-evenly;
}

.LogoDiv {
    width: 10%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dealerDiv {
    width: max-content;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.Rimg {
    height: 50px;
}

.bars {
    color: #006039;
    font-size: 25px;
    cursor: pointer;
}

.menu {
    color: #FFFAEC;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    transition: all .56s;

}

.menu:hover {
    color: #006039;
}

.magnifying {
    color: #006039;
}

.dealer {
    color: #FFFAEC;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;

}

.hr1 {
    width: 96%;
    margin: auto;
    display: block;
}

.VideoDiv {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    object-fit: cover;
}

.sidebar {
    width: 562px;
    height: 635px;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: -635px;
    transition: all .5s ease-out 0s;
}

.cross {
    color: #FFFAEC;
    font-size: 20px;
    position: absolute;
    top: 35px;
    left: 35px;
}

.liDiv {
    width: 300px;
    height: 400px;
    position: absolute;
    right: 20px;
    bottom: 120px;
    display: flex;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
    text-align: right;
}

.liDiv ul {
    list-style: none;
    margin-top: 10px;
}

.liDiv li {
    margin-top: 30px;
    letter-spacing: 1.5px;
    font-weight: 800;
    color: rgb(192, 192, 192);
    transition: all .56s;
}

.liDiv li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: rgb(192, 192, 192);
}

.liDiv li:hover {
    color: #FFFAEC;
}

.bottombar {
    width: 100%;
    height: 100vh;
    background-color: #525151;
    position: fixed;
    top: 120%;
    left: 0;
    transition: all .56s ease-in-out 0s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 100;
}

.finderDiv {
    width: auto;
    padding: 20px 25px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.you {
    color: #ffff;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    line-height: 22px;
    letter-spacing: 1px;
    font-size: 13px;
}

.find {
    color: #FFFAEC;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
}

.Bttn1 {
    width: 280px;
    height: 50px;
    border-radius: 30px;
    background-color: #108959b9;
    margin: 20px;
    outline: none;
    border: none;
    color: #FFFAEC;
    position: relative;
}

.Bttn1 img {
    transform: rotate(180deg);
    position: absolute;
    right: 40%;
    opacity: 0;
    transition: all .56s;
}

.Bttn1:hover img {
    right: 30%;
    opacity: 1;
}

.srch {
    transition: all .56s;
}

.Bttn1:hover .srch {
    margin-left: -20px;
}

.Bttn2 {
    width: 280px;
    height: 50px;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #FFFAEC;
    position: relative;
}

.Bttn2 img {
    transform: rotate(180deg);
    position: absolute;
    right: 40%;
    opacity: 0;
    transition: all .56s;
}

.Bttn2:hover img {
    right: 20%;
    opacity: 1;
}

.srch {
    transition: all .56s;
}

.Bttn2:hover .srch {
    margin-left: -20px;
}

.bottombar2 {
    width: 100%;
    height: 120%;
    background-color: #525151;
    position: fixed;
    top: 100vh;
    left: 0;
    transition: all .56s ease-in-out 0s;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

.letdiv {
    width: auto;
    height: 50vh;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.hre {
    width: 10%;
    margin-top: 20px;
}

.bt-parent {
    width: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Bttna {
    width: 280px;
    height: 50px;
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #006039;
    color: #222;
    position: relative;
}

.Bttna img {
    transform: rotate(180deg);
    position: absolute;
    right: 40%;
    opacity: 0;
    transition: all .56s;
}

.Bttna:hover img {
    right: 20%;
    opacity: 1;
}

.srch {
    transition: all .56s;
}

.Bttna:hover .srch {
    margin-left: -20px;
}

.Bttnb {
    width: 280px;
    height: 50px;
    border-radius: 30px;
    background-color: transparent;
    background-color: #ffff;
    color: #222;
    position: relative;
    margin: 20px 0px;
}

.Bttnb img {
    transform: rotate(180deg);
    position: absolute;
    right: 40%;
    opacity: 0;
    transition: all .56s;
}

.Bttnb:hover img {
    right: 20%;
    opacity: 1;
}

.srch {
    transition: all .56s;
}

.Bttnb:hover .srch {
    margin-left: -20px;
}

.let {
    color: #FFFAEC;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.input1 {
    width: 100%;
    height: 8vh;
    background-color: #1B0D2E;
    padding: 10px 10px;
    letter-spacing: 2px;
    outline: none;
    border: none;
    margin-top: 20px;
    color: #FFFAEC;
    border-bottom: 2px solid gray;

}

::placeholder {
    color: #FFFAEC;
}

.innerDiv {
    width: 100%;
    height: 12vh;
    background-color: #131a16;
    display: flex;
    align-items: center;
    justify-content: center;
}

.crossParent {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #085d3bcd;
    padding: 18px;
}

.cross2 {
    color: #FFFAEC;
    font-size: 20px;
}

.cross3 {
    color: #FFFAEC;
    font-size: 20px;
}

.Lidiv2 {
    width: 96%;
    height: 10vh;
    margin: auto;
    display: flex;
    z-index: 1111;
    align-items: center;
    justify-content: space-between;
}

.phantom {
    width: 120px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Downimg {
    height: 20px;
    cursor: pointer;
}

.Discoverdiv {
    width: 520px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Discoverdiv ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFFAEC;
}

.Discoverdiv li {
    list-style: none;
    letter-spacing: 1.5px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.li-one {
    border-bottom: 2px solid #006039;
    line-height: 50px;
}

.li-last {
    padding: 10px;
}

.closer-div {
    width: 100%;
    height: 0;
    background-color: #FFFAEC;
    margin: auto;
    transition: all .56s linear 0s;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 100;
}

.close {
    height: 10vh;
}

.inner-textDiv {
    width: 90%;
    height: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -9;
}

.inner-textDiv ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;

}

.inner-textDiv li {
    list-style: none;
    transition: all .56s;
    cursor: auto;
}

.inner-textDiv li:hover {
    color: #006039;
}

.section-2 {
    width: 100%;
    height: 110vh;
    background-color: #25272c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 20px;
    position: relative;
    overflow: hidden;
}

.section-3 {
    width: 100%;
    height: auto;
    background-color: #181B21;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 70px 20px;
}

.paragraph {
    width: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 34px;
    letter-spacing: 1px;
    font-weight: 400;
}

.para2 {
    width: auto;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
    font-size: 13px;
}

.video-parent {
    width: 100%;
    height: auto;
}

.video-2 {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.section-4 {
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.793), rgba(0, 0, 0, 0.668)), url(./Car-imgs/erik-eastman--6zFVL4YuaM-unsplash.jpg);
    background-position: center;
    background-size: cover;
    padding: 1px 0px;
}

.paragraph4 {
    width: auto;
    text-align: center;
    margin: 100px auto;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 34px;
    letter-spacing: 1px;
    font-weight: 400;
}

.text-slider-main {
    width: 100%;
    height: 75px;
    margin: 25px auto;
    text-align: center;
    overflow: hidden;
}

.overflow-slider {
    width: max-content;
    height: 400%;
    margin: auto;
    text-align: center;
    animation: top-move 12s ease-in-out infinite;
}

@keyframes top-move {
    0% {
        transform: translateY(-0px);
    }

    22% {
        transform: translateY(-0px);
    }

    25% {
        transform: translateY(-25%);
    }

    47% {
        transform: translateY(-25%);
    }

    50% {
        transform: translateY(-51%);
    }

    72% {
        transform: translateY(-51%);
    }

    75% {
        transform: translateY(-77%);
    }

    100% {
        transform: translateY(-77%);
    }
}

.slides {
    width: max-content;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    letter-spacing: 3px;
    color: #A2AAAD;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.imgbox-one {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.imgparent1 {
    width: auto;
    height: 378px;
}

.imgparent1 img {
    width: 100%;
    height: 100%;
}

.imgbox-two {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;

}

.imgparent2 {
    width: auto;
    height: 378px;
}

.imgparent2 img {
    width: 100%;
    height: 100%;
}

.imgbox-three {
    width: auto;
    height: 378px;
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.imgparent3 {
    width: 665px;
    height: 378px;
}

.imgparent3 img {
    width: 100%;
    height: 100%;
}

.section-5 {
    width: 100%;
    height: auto;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 20px;
}

.btn {
    width: 300px;
    height: 50px;
    border: 1px solid #FFFAEC;
    border-radius: 25px;
    background: inherit;
    margin-top: 50px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    color: #ffff;
    position: relative;
}

.arrowimg {
    height: 20px;
    transform: rotate(180deg);
    position: absolute;
    right: 25%;
    opacity: 0;
    transition: all .56s ease;
}

.btn:hover .arrowimg {
    transform: rotate(180deg)translateX(-30px);
    opacity: 1;
}

.make {
    transition: all .56s;
}

.btn:hover .make {
    margin-left: -20px;
}

.video-parent3 {
    width: 100%;
    height: 110vh;
}

.section-6 {
    width: 100%;
    height: auto;
    background-color: #222;
    padding: 1px;
}

.four {
    margin-top: 50px;
}

.doordiv-parent {
    width: 85%;
    height: auto;
    margin: 50px auto;
}

.closer-div2 {
    height: 0vh;
    background-color: #FFFAEC;
    transition: all .56s linear 0s;
    display: none;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    z-index: 999;
}

.close2 {
    height: 20vh;
}

.doorimg {
    width: 100%;
    height: auto;
}


.section-5b {
    width: 100%;
    height: auto;
    background-color: #181B21;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 20px;
}

.btn {
    width: 300px;
    height: 50px;
    border: 1px solid #FFFAEC;
    border-radius: 25px;
    background: inherit;
    margin-top: 50px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    color: #ffff;
    position: relative;
    margin-left: 20px;
}

.btn-parent {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.next-video {
    width: 80%;
    height: auto;
    margin: 100px auto;
}

.carimg-div {
    width: 100%;
    height: auto;
}

.carimg-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.division-sec {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bx1 {
    width: 32%;
    height: 100vh;
    text-align: center;
}

.iner-box1 {
    width: 100%;
    height: auto;
    overflow: hidden;
    cursor: pointer;
}

.iner-box1 img {
    width: 100%;
    height: 100%;
    transition: all .56s ease;
}

.iner-box1:hover img {
    transform: scale(1.1);
}

.series {
    font-family: 'Roboto', sans-serif;
    color: #FFFAEC;
    font-weight: 500;
    letter-spacing: 2px;
}

.main-oftxt {
    border-left: 1px solid gray;
    margin-top: -5px;
    padding: 20px 10px;
    height: 40vh;
}

.paraseries {
    font-family: 'Roboto', sans-serif;
    color: #ffff;
    font-weight: 400;
    margin-top: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 14px;
}

.journeydiv {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffff;
    font-family: 'Roboto', sans-serif;
}

.Text-sec {
    width: 100%;
    height: auto;
    background-color: #222222;
}

.contentDiv {
    width: 80%;
    height: max-content;
    margin: 50px auto;
    color: #f8f8f8;
    font-family: 'Roboto', sans-serif;
}

.footer {
    width: 100%;
    height: auto;
    background-color: #151515;
}

.value1 {
    font-size: 13px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.value2 {
    font-size: 13px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.value3 {
    font-size: 13px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.foterlogo {
    width: 100%;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ftr-boxes {
    width: 95%;
    height: auto;
    border: 1px solid gray;
    border-left: none;
    border-right: none;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ftr-txtdiv {
    width: 100%;
    height: auto;
    padding: 10px 0px;
}

.ftr-txtdiv ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

}

.ftr-txtdiv li {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    color: #ffff;
    font-size: 15px;
    letter-spacing: 2px;
    margin: 10px;
}

.pre-parent {
    height: auto;
    width: 100%;
}

.socialDiv {
    width: 300px;
    height: 10vh;
    padding: 0px 10px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    font-size: 25px;
}

.socialDiv ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.lii {
    transition: all .56s;
}

.lii:hover {
    cursor: grab;
}

.socialDiv li {
    text-decoration: none;
    list-style: none;
}

.socialDiv li a {
    color: #006039;
}

.ftr-txtdiv li {
    transition: all .56s;
}

.ftr-txtdiv li:hover {
    color: rgb(188, 185, 185);
}

.socialDiv i {
    transition: all .56s;
    cursor: pointer;
}

.socialDiv i:hover {
    color: rgb(188, 185, 185);
}

.continue {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.delve {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 10px;
    text-align: center;
}

.anyone {
    opacity: 1;
}

.move {
    opacity: 0;
}

.move1 {
    animation: mov1 0.5s linear 2.1s forwards;
}

@keyframes mov1 {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    100% {
        opacity: 1;
        transform: translateX(5px);
    }
}

.move2 {
    animation: mov2 0.5s linear 1.8s forwards;
}

@keyframes mov2 {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    100% {
        opacity: 1;
        transform: translateX(5px);
    }
}

.move3 {
    animation: mov3 0.5s linear 1.5s forwards;
}

@keyframes mov3 {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    100% {
        opacity: 1;
        transform: translateX(5px);
    }
}

.move4 {
    animation: mov4 0.5s linear 1.2s forwards;
}

@keyframes mov4 {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    100% {
        opacity: 1;
        transform: translateX(5px);
    }
}

.move5 {
    animation: mov5 .5s linear 0.9s forwards;
}

@keyframes mov5 {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    100% {
        opacity: 1;
        transform: translateX(5px);
    }
}

.move6 {
    animation: mov6 .5s linear 0.6s forwards;

}

@keyframes mov6 {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    100% {
        opacity: 1;
        transform: translateX(5px);
    }
}

.move7 {
    animation: mov7 .5s linear 0.3s forwards;

}

@keyframes mov7 {
    0% {
        opacity: 1;
        transform: translateX(-300px);
    }

    100% {
        opacity: 1;
        transform: translateX(5px);
    }
}

.movea {
    animation: mov1a 0.5s linear 0.3s forwards;
}

@keyframes mov1a {
    0% {
        opacity: 1;
        transform: translateX(5px);
    }

    100% {
        opacity: 0;
        transform: translateX(-300px);
    }
}

.moveb {
    animation: mov2a .5s linear 0.6s forwards;
}

@keyframes mov2a {
    0% {
        opacity: 1;
        transform: translateX(5px);
    }

    100% {
        opacity: 0;
        transform: translateX(-300px);
    }
}

.movec {
    animation: mov3a .5s linear 0.9s forwards;
}

@keyframes mov3a {
    0% {
        opacity: 1;
        transform: translateX(5px);
    }

    100% {
        opacity: 0;
        transform: translateX(-300px);
    }
}

.moved {
    animation: mov4a .5s linear 1.2s forwards;
}

@keyframes mov4a {
    0% {
        opacity: 1;
        transform: translateX(5px);
    }

    100% {
        opacity: 0;
        transform: translateX(-300px);
    }
}

.movee {
    animation: mov5a .5s linear 1.5s forwards;
}

@keyframes mov5a {
    0% {
        opacity: 1;
        transform: translateX(5px);
    }

    100% {
        opacity: 0;
        transform: translateX(-300px);
    }
}

.movef {
    animation: mov6a .5s linear 1.8s forwards;

}

@keyframes mov6a {
    0% {
        opacity: 1;
        transform: translateX(5px);
    }

    100% {
        opacity: 0;
        transform: translateX(-300px);
    }
}

.moveg {
    animation: mov7a .5s linear 2.1s forwards;

}

@keyframes mov7a {
    0% {
        opacity: 1;
        transform: translateX(5px);
    }

    100% {
        opacity: 0;
        transform: translateX(-300px);
    }
}

.content-section {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.car-box {
    width: 50%;
    height: max-content;
}

.car-box img {
    width: 100%;
    height: 100%;
}

.content-box {
    width: 50%;
    height: 100vh;
    padding: 10px 10px;
}

.heading {
    color: #FFFAEC;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

.button-parent {
    width: 100%;
}

.button-1 {
    width: 35%;
    height: 30px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: transparent;
    color: #ffff;
    cursor: pointer;
}

.button-2 {
    width: 35%;
    height: 30px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: transparent;
    color: #ffff;
    cursor: pointer;
}

.range-parent {
    position: relative;
}

.rangebox1 {
    width: 100%;
    height: auto;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 300;
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
}

.rangebox1 h5 {
    font-weight: 500;
}

.first-txtparent {
    width: 45%;
    height: auto;
    padding: 5px 0px;
}

.hr-a {
    width: 20%;
}

.rangebox2 {
    width: 100%;
    height: auto;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 300;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.rangebox2 h5 {
    font-weight: 500;
}

.animationDiv {
    width: 100%;
    height: 20vh;
    position: absolute;
    color: #FFFAEC;
    letter-spacing: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    z-index: -1;

}

.animationDiv {
    display: flex;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #ffffff 0%,
            #333333 29%,
            #006039 67%,
            rgba(246, 215, 35, 0.811) 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    display: inline-block;
    font-size: 40px;
}

@keyframes textclip {
    to {
        background-position: -200% center;
    }
}

.Fourm-page {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-sec {
    width: 50%;
    height: 100%;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 10px 20px;
}

form {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #3e3d3d;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

input[type="submit"] {
    display: block;
    width: 50%;
    padding: 15px;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    background-color: transparent;
    border: 1px solid #A2AAAD;
    color: #fff;
    font-size: 16px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    margin: 20px auto;
    letter-spacing: 1px;
    transition: all .56s;
}

input[type="submit"]:hover {
    color: #006039;
}

input {
    outline: none;
    color: #A2AAAD;
}

input:focus {
    border: 2px solid #A2AAAD;
    background-color: transparent;
    border-bottom: 2px solid #A2AAAD;

}

textarea {
    outline: none;
    color: #A2AAAD;
}

textarea:focus {
    border: 2px solid #A2AAAD;
    background-color: transparent;
    border-bottom: 2px solid #A2AAAD;
}
.Apple-sec{
    width:100%;
    height:100vh;
    border:2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-bx1{
    width:40%;
    height:70%;
    background-color: #006039;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    margin:20px;
    border-radius:15px;

}
.img-bx2{
    width:40%;
    height:70%;
    background-color: #4fad87;
    color:#ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    border-radius:15px;

}